*
	font-family: 'MuseoModerno', cursive

@import base/variables
@import base/mixins
@import general
@import media
				
.container
	max-width: 950px
	margin: 0 auto

@import blocks/promo
@import blocks/header
@import blocks/_buttons